<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>知识会 - 为开源共享而生</title>

    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.css">


</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Leanhub</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/forum">社区</a>
            </li>
            <li>
                <a href="/learnhub">学习空间</a>
            </li>
            <li>
                <a href="/group">我的群组</a>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">登录/注册</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户名<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">我的动态</a>
                    </li>
                    <li>
                        <a href="#">个人中心</a>
                    </li>
                    <li>
                        <a href="#">问卷系统</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">退出系统</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div>
    <div class="row">
        <div class="col-lg-2">
            <ul class="nav nav-list">
                <li class="nav-header">
                    <div style="margin-left:20px">
                        <img style="width: 42px" src="http://file.learnerhub.net/Fq3lWeqyWarwbGrihRlIoVsu9d-W">
                        <h4>个人中心</h4>
                    </div>

                </li>
                <li class="active">
                    <a href="index">用户资料</a>
                </li>
                <li>
                    <a href="integral">我的积分</a>
                </li>
                <li>
                    <a href="password">密码</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-8">
            <ul class="breadcrumb">
                <li>
                    <a href="#">用户名</a>
                </li>
                <li>
                    <a href="#">个人中心</a>
                </li>
            </ul>
            <hr>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-lg-4">
                        <h2>公开头像</h2>
                        <p>您可以在这里修改或删除头像。</p>
                    </div>
                    <div class="col-lg-6">
                        <h2>上传新头像</h2>
                        <img id="pic" style="width:100px;height:100px;border-radius:50%;" src="http://www.jq22.com/tx/28.png">
                        <input id="upload" name="file" accept="image/*" type="file" style="display: none">
                        <p>仅支持 jpg, jpeg, png 格式的图片类型。
                            图片允许的最大大小为2MB。
                        </p>
                        <input type="button" class="btn-primary" value="保存头像" />
                    </div>
                </div>
            </div>
            <hr>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-lg-3">
                        <h2>个人信息</h2>
                        <p>部分信息将显示在您的展示界面中。</p>
                    </div>
                    <div class="col-lg-4">
                        <div class="container">
                            <form>
                                <div class="form-group col-lg-7">
                                    <label for="username">用户名:</label>
                                    <input type="username" class="form-control" id="username" placeholder="Enter username">
                                </div>
                                <div class="form-group col-lg-7">
                                    <label for="email">邮箱:</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                                </div>
                                <div class="form-group col-lg-7">
                                    <label for="identity">身份:</label>
                                    <select class="form-control" id="identity">
                                        <option>学校老师</option>
                                        <option>学生</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-7">
                                    <label for="organization">学校或单位:</label>
                                    <input type="organization" class="form-control" id="organization" placeholder="Enter organization">
                                </div>
                                <div class="form-group col-lg-7">
                                    <label for="site">个人网站:</label>
                                    <input type="site" class="form-control" id="site" placeholder="Enter site">
                                </div>
                                <div class="form-group col-lg-7">
                                    <label for="introduction">个人简介:</label>
                                    <textarea class="form-control" rows="5" id="introduction"></textarea>
                                </div>
                                <div class="form-check col-lg-7">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> 记住密码
                                    </label>
                                </div>
                                <div class="form-check col-lg-7">
                                    <button type="submit" class="btn btn-primary">更新个人信息</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $("#pic").click(function() {
            $("#upload").click(); //隐藏了input:file样式后，点击头像就可以本地上传
            $("#upload").on("change", function() {
                var objUrl = getObjectURL(this.files[0]); //获取图片的路径，该路径不是图片在本地的路径
                if (objUrl) {
                    $("#pic").attr("src", objUrl); //将图片路径存入src中，显示出图片
                    upimg();
                }
            });
        });
    });

    //建立一?可存取到?file的url
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }
    //上传头像到服务器
    function upimg() {
        console.log(344)
        var pic = $('#upload')[0].files[0];
        var file = new FormData();
        file.append('image', pic);
        $.ajax({
            url: "/uploadImg",
            type: "post",
            data: file,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                console.log(data);
                var res = data;
                $("#resimg").append("<img src='/" + res + "'>")
            }
        });
    }
</script>
</body>
</html>

