<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">

	<title>知识会 - 为开源共享而生</title>

	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../font-awesome/css/font-awesome.css">


</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Leanhub</a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li class="active">
				<a href="/forum">社区</a>
			</li>
			<li>
				<a href="/learnhub">学习空间</a>
			</li>
			<li>
				<a href="/group">我的群组</a>
			</li>
		</ul>
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input type="text" class="form-control"/>
			</div>
			<button type="submit" class="btn btn-default">搜索</button>
		</form>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="/login">登录/注册</a>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" th:inline="text" th:if="${session.userInfo} ne null">[[${session.userInfo.username}]]<strong class="caret"></strong></a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">我的动态</a>
					</li>
					<li>
						<a href="#">个人中心</a>
					</li>
					<li>
						<a href="#">问卷系统</a>
					</li>
					<li class="divider">
					</li>
					<li>
						<a href="#">退出系统</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
<div>
	<div class="row">
		<div class="col-lg-2">
			<ul class="nav nav-list">
				<li class="nav-header">
					<div style="margin-left:20px">
						<img style="width: 42px" src="http://file.learnerhub.net/Fq3lWeqyWarwbGrihRlIoVsu9d-W">
						<h4>软件工程(国防科技大学)</h4>
					</div>

				</li>
				<li class="active">
					<a href="index">主页</a>
				</li>
				<li>
					<a href="resource">资源区</a>
				</li>
				<li>
					<a href="members">成员</a>
				</li>
			</ul>
		</div>
		<div class="col-lg-8">
			<ul class="breadcrumb">
				<li>
					<a href="#" >学习空间</a>
				</li>
				<li>
					<a href="#" th:text="${learnuser.name}">软件工程(国防科技大学)</a>
				</li>
				<li>
					<a href="#">成员</a>
				</li>
			</ul>
			<h2>成员</h2>
			<table class="table table-hover">
				<thead>
				<tr>
					<th>成员</th>
					<th>加入时间</th>
					<th>身份</th>
				</tr>
				</thead>
				<tbody>
					<tr th:each="user,userStat : ${learnuser.userInfos}">
						<td><img th:src="${user.avatar}" class="img-circle">&nbsp;<a th:text="${user.username}">Doe</a></td>
						<td th:src="${user.joinTime}">2020-6-16</td>
						<td>成员</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>

