<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Material Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="../css/style.default.css" id="theme-stylesheet">
</head>
<body>
<div class="page login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo">
                                <h1>欢迎注册</h1>
                            </div>
                            <p>知识会 - 为开源共享而生</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <div class="form-group">
                                <input id="username" class="input-material" type="text" name="username"
                                       placeholder="请输入用户名/姓名">
                                <div class="invalid-feedback">
                                    用户名必须在2~10位之间
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="password" class="input-material" type="password"
                                       name="password" placeholder="请输入密码">
                                <div class="invalid-feedback">
                                    密码必须在6~10位之间
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="passwords" class="input-material" type="password"
                                       name="passwords" placeholder="确认密码">
                                <div class="invalid-feedback">
                                    两次密码必须相同 且在6~10位之间
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="regbtn" onclick="register()" type="button" name="Submit" class="btn btn-primary">注册
                                </button>
                            </div>
                            <small>已有账号?</small><a href="login" class="signup">&nbsp;登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript files-->
<script src="https://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/bootstrap.min.js"></script>
<script>

/*
        /!*错误class  form-control is-invalid
        正确class  form-control is-valid*!/
        var flagName = false;
        var flagPas = false;
        var flagPass = false;
        /!*验证用户名*!/
        var name, passWord, passWords;
        $("#username").change(function () {
            name = $("#username").val();
            if (name.length < 2 || name.length > 10) {
                $("#username").removeClass("form-control is-valid")
                $("#username").addClass("form-control is-invalid");
                flagName = false;
            } else {
                $("#username").removeClass("form-control is-invalid")
                $("#username").addClass("form-control is-valid");
                flagName = true;
            }
        })
        /!*验证密码*!/
        $("#password").change(function () {
            passWord = $("#password").val();
            if (passWord.length < 6 || passWord.length > 18) {
                $("#password").removeClass("form-control is-valid")
                $("#password").addClass("form-control is-invalid");
                flagPas = false;
            } else {
                $("#password").removeClass("form-control is-invalid")
                $("#password").addClass("form-control is-valid");
                flagPas = true;
            }
        })
        /!*验证确认密码*!/
        $("#passwords").change(function () {
            passWords = $("#passwords").val();
            if ((passWord != passWords) || (passWords.length < 6 || passWords.length > 18)) {
                $("#passwords").removeClass("form-control is-valid")
                $("#passwords").addClass("form-control is-invalid");
                flagPass = false;
            } else {
                $("#passwords").removeClass("form-control is-invalid")
                $("#passwords").addClass("form-control is-valid");
                flagPass = true;
            }
        });
*/

    function register () {
        // if (flagName && flagPas && flagPass) {
            // localStorage.setItem("name", name);
            // localStorage.setItem("passWord", passWord);
            // location = "login.html"

                $.ajax({
                    type: "post",
                    url: "/user/register",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        username: $("#username").val(),
                        password: $("#password").val()
                    }),
                    dataType: "JSON",
                    success: function(result) {}
                });

        //
        // } else {
        //     if (!flagName) {
        //         $("#register-username").addClass("form-control is-invalid");
        //     }
        //     if (!flagPas) {
        //         $("#register-password").addClass("form-control is-invalid");
        //     }
        //     if (!flagPass) {
        //         $("#register-passwords").addClass("form-control is-invalid");
        //     }
        // }
    }
</script>
</body>
</html>